#navbar {
  margin-top: 1vmax;
  margin-bottom: 1vmax;
  width: 95%;
  background-color:#636363;
  height: 8vmin;
  border-radius: 3%;
}

ul {
  display: flex;
  align-items: center; 
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  color: #f7f7f7;
}

.nav-link {
  text-decoration: none;
  color: #f7f7f7;
  padding: 3px;
}

li {
  display: block;
  margin-top: 2vmin;
  list-style-type: none;
  font-size: 12px;
  color: #f7f7f7;
}
li:hover {
  background-color: #f7f7f7;
  color: #636363;
}

a {
  color: #636363;
}

.food-bg {background-color: #ffefd5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin-top: 3vmax;
  width: 80%;
  font-family: Parisienne, cursive;
  background-color:#f5faff;
  color:#0f4980;
  border: 2px solid #0f4980;
  border-radius: 8%;
  font-size: 1.1rem;
}

#about-title {
  text-align: center;
}

#about-text {
  padding: 0 3vmax 3vmax 3vmax;
  font-weight: 600; 
}