* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#f7f7f7;
}

#img-header {
  object-fit: cover;
  height: 12vmax;
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  margin-top: 0.7vmax;
  margin-bottom: 0.7vmax;
  width: 95%;
  background-color:#636363;
  height: 30px;
}

ul {
  display: flex;
  align-items: center; 
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
  color: #f7f7f7;
}

.nav-link {
  text-decoration: none;
  color: #f7f7f7;
  padding: 3px;
}

li {
  display: block;
  margin-top: 2vmin;
  list-style-type: none;
  font-size: 12px;
  color: #f7f7f7;
}
li:hover {
  background-color: #f7f7f7;
  color: #636363;
}

a {
  color: #636363;
}
main {
  width: 95%;
  display:flex;
  flex-direction: column;
  text-align: center;
}
#hero {
  height: 140px;
  width: 100%;
  background: url("https://www.dropbox.com/scl/fi/19bo9m7bv3tvpg1ci7p9b/mezze.jpg?rlkey=5z8g2ri78zur07cwdwvk7fjtc&raw=1");
  display: flex;
  text-align: center;
  margin-bottom: 2vmax;
}
h3 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #333;
  font-family: Oxygen;
  padding: 2.6rem 0.3rem;
  font-size: 1.2rem;
}
h4 {
  padding: 0.15rem;
  border-radius: 5%;
}
#cols {
  display:flex;
  justify-content: center;
  align-items:center;
  font-size: 0.75rem;
  gap: 0.25rem;
}

article {
  width: 110px;
  padding: 0.2rem;
  background-color: #decdb6;
  color: #363636;
  border-radius: 3%;
  height: 280px;
}
.col-pic {
  width: 100px;
}
#booking-link:active{
  color: darkred;
}
.open {
  font-style: italic;
  text-align: center;
}
footer {
  height: 12vmin;
  width: 90%;
  margin: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  color: #636363;
  background-color: #f7f7f7;
}

#wrap1, #wrap2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5vw;
  width:50%;
}

#wrap2 {
 justify-content: flex-end;
  padding-right: 5vw;
  text-align: right;
}

#img-footer {
  height: 7vmax;
}

#txt-footer {
  font-size: 0.85rem;
}

#menu-page {
  background-color: papayawhip;
}

#menu {
  display: grid;
  grid-template-columns: 1fr;
}

#first {
  margin-top: 25px;
}

.menu-item-title {
  text-align: center;
  font-family: Oxygen;
  font-weight: 500;
  margin-top: 10px;
}

.menu-item-photo {
  position: relative;
  overflow: hidden;
  padding: 0;
  max-width: 250px;
}
.img-custom {
  height: 200px;
  width: 250px;
  border: 2px solid #000045;
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  width: 320px;
  margin-top: 25px;
}
.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #000045;
  color: white;
  text-align: center;
}
.menu-item-details {
  font-size: .9em;
  font-style: italic;
  width: 90%;
  margin: 0;
}
hr.divider {
  border-top: 1px solid grey;
  width: 80%;
}

@media (min-width: 768px) {
  #menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1050px) {
  #menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
  
   .img-custom {
  height: 300px;
  width: 375px;
  border: 3px solid #000045;
  }
  
}

@media screen and (min-width:768px)  {
  article {
    width: 210px;
    height: 330px;
  }
  .col-pic {
    width:195px;
  }
  #cols {
    gap: 1.3rem;
  }
}
